.btn {
    outline: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif ;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}
.btn:hover {
    box-shadow: none;
    cursor: pointer !important;
}
.btn-success {
    border: none !important;
    background: #61AA43 !important;
}
.btn-outline {
    transition: 0.2s;
    border: 1px solid  rgba(0, 0, 0, 0.16);
    background: #ffffff !important;
}
.btn-outline:active {
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.16) !important;
}
.btn-primary {
    border: none !important;
    background: #065FD4 !important;
}