.form-label {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.form-error {
    transition: 0.2s;
    background-color: #d8e3dd !important;
    border: 1px solid #d8e3dd !important;
}
.form-success{
    transition: 0.5s;
    background: #d8e3dd !important;
    border: 1px solid #d8e3dd !important;
}
.form-control {
    font-family: "Roboto", sans-serif;
    background-color: #fdfdff;
    font-weight: 400 !important;
    border: 1px solid #e4e4e4;
}
.form-control-read-only {
    font-family: "Roboto", sans-serif;
    background-color: #e4e4e4 !important;
    font-weight: 400 !important;
    border: 1px solid #e4e4e4;
}
.form-control:focus {
    transition: 0.3ms;
    box-shadow: none !important;
    border: 1px solid #e4e4e4;
}